:root{
    font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: white;  
  height: 100vh;
  margin: 0;
  display: flex;

}

main{
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 520px;
    display: flex;
    margin: auto;
    box-shadow: 0 0 3rem rgba(0,0,0,.1);
}
aside{
    width: 18rem;
    height: 18rem;
    background: rgb(190, 24, 24);
    border-radius: 999rem;
    margin: auto;
}