body{
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
   padding: 0;


}
.flexbox-container{
    background-color: coral;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    

}

.Flex-item{
    background-color: rgb(52, 117, 117);
    height: 70px;
    width: 90px;
    border: 5px solid blue;
    padding: 10px;
   flex: 1 1 100px;
}

