
header{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(139, 121, 121);
    border: 1px solid black;
    
}


header h1{
    display: flex;
    color: blanchedalmond;
    justify-content: center;
    align-items: center;
    
}
nav {
    width: auto;
    height: 3rem;
    display: flex;
    background: rgb(139, 121, 121);
    border: 1px solid black;
}
nav a {
    text-decoration: none; /* tar bort det blåa*/
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* fixar det i mitten av boxen */
    align-items: center; /*mitten av box*/
    color: blanchedalmond;


}
nav a:hover{
    background-color: burlywood;
    color: cadetblue;
}
main section{
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 5px; /* Adds space between the columns */
    width: 100%;
    

}
.box{
    background-color: burlywood;
    margin: 10px;
    padding: 10px;
    /* width: 100%; */
    
}
.box p{
    padding: 10px;
    margin: 10px;
}
